
#ggt-circle{
	width: 30px;
	height: 30px;
	position: absolute;
	/*border: 1px solid red;*/
	top: -15px;
	left: -15px;
	border-radius: 100%;
	pointer-events: none;
	transition: all 100ms ease;
	background: linear-gradient(-45deg,#85FFBC 0%,#FFFA7D 100%);
    position: absolute;
    z-index: 9990;
    mix-blend-mode: difference;
}

#ggt-circle.hover{
	transition: all 200ms ease;
	width: 60px;
	height: 60px;
	position: absolute;
	top: -30px;
	left: -30px;
}
#ggt-circle.arrow{
/*	width: 30px;
	height: 30px;
	position: absolute;
	top: -15px;
	left: -15px;
	border-radius: 100%;
	pointer-events: none;
	transition: all 100ms ease;
	background: linear-gradient(-45deg,#85FFBC 0%,#FFFA7D 100%);
    position: absolute;
    z-index: 9990;
    mix-blend-mode: difference;*/
}
#ggt-circle.thumb{
	width: 150px;
	height: 150px;
	left: -75px;
	top: -75px;
    border-color: rgba(255,255,255, 0);
    border-width: 0;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    background-color: #fff;
    mix-blend-mode: inherit;
    /*z-index: 1;*/
}

#ggt-circle.thumb{

}

#ggt-circle.arrow{
  /*z-index:1;*/
  display: block;
  pointer-events:none;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: -25px;
  background: none;
  border-radius: 100%;
  mix-blend-mode: inherit;
  transition: all 100ms ease;
}

#ggt-circle.arrow  .arrow-line {
    position: absolute;
    width: 100%;
    height: 50%;
    overflow: hidden;
    transition: all 150ms ease-in-out;
}

#ggt-circle.arrow  .arrow-line.top {
    top: 0px;
    transition: all 150ms ease-in-out;
}

#ggt-circle.arrow  .arrow-line.bottom {
    bottom: 0px;
    transition: all 150ms ease-in-out;
}

#ggt-circle.arrow  .arrow-line:after {
    content: "";
    height: 3px;

    /*CHANGES THE THICKNESS OF THE ARROWLINES*/
    width: 100%;
    background: white;
    position: absolute;
    transition: all 150ms ease-in-out;
}
  
#ggt-circle.arrow.right .arrow-line.top:after {
    transform: rotate(-135deg);
    top: 50%;
    left: 0;
    transition: all 150ms ease-in-out;
}
#ggt-circle.arrow.right .arrow-line.bottom:after {
    transform: rotate(135deg);
    bottom: 50%;
    left: 0;
    transition: all 150ms ease-in-out;
}
  
#ggt-circle.arrow.left .arrow-line.top:after {
    transform: rotate(-45deg);
    top: 50%;
    right: 0;
    transition: all 150ms ease-in-out;
}
#ggt-circle.arrow.left .arrow-line.bottom:after {
    transform: rotate(45deg);
    bottom: 50%;
    right: 0;
    transition: all 150ms ease-in-out;
}





.gutenblog-blog-feed-post ul.wp-block-gallery.owl-loaded,
.frontpage-featured-posts ul.wp-block-gallery.owl-loaded,
.frontpage-posts-slider ul.wp-block-gallery.owl-loaded,
.frontpage-posts-slider-large .frontpage-large-owl-carousel{
	position: relative;
}
.gutenblog-blog-feed-post ul.wp-block-gallery.owl-loaded .owl-nav,
.frontpage-featured-posts ul.wp-block-gallery.owl-loaded .owl-nav,
.frontpage-posts-slider ul.wp-block-gallery.owl-loaded .owl-nav,
.frontpage-posts-slider-large .frontpage-large-owl-carousel .owl-nav{
	/*position: absolute;
	top: 0;
	left: 0;*/
}
.gutenblog-blog-feed-post ul.wp-block-gallery.owl-loaded .owl-nav .owl-prev,
.frontpage-featured-posts ul.wp-block-gallery.owl-loaded .owl-nav .owl-prev,
.frontpage-posts-slider ul.wp-block-gallery.owl-loaded .owl-nav .owl-prev,
.frontpage-posts-slider-large .frontpage-large-owl-carousel .owl-nav .owl-prev{
	position: absolute;
	width: 50%;
	top: 0;
	left: 0;
	height: 100%;
	cursor: pointer;
}
.gutenblog-blog-feed-post ul.wp-block-gallery.owl-loaded .owl-nav .owl-next,
.frontpage-featured-posts ul.wp-block-gallery.owl-loaded .owl-nav .owl-next,
.frontpage-posts-slider ul.wp-block-gallery.owl-loaded .owl-nav .owl-next,
.frontpage-posts-slider-large .frontpage-large-owl-carousel .owl-nav .owl-next{
	position: absolute;
	width: 50%;
	top: 0;
	left: 50%;
	height: 100%;
	cursor: pointer;
}
.frontpage-posts-slider ul.wp-block-gallery.owl-loaded .owl-nav div:before{
	display: none;
}
@media screen and (max-width: 1024px) {
	#ggt-circle{
		display: none;
	}
}

