@font-face {
    font-family: 'gutenblog-font';
    src:  url('../fonts/gutenblog-font.eot?h2pi8k');
    src:  url('../fonts/gutenblog-font.eot?h2pi8k#iefix') format('embedded-opentype'),
    url('../fonts/gutenblog-font.ttf?h2pi8k') format('truetype'),
    url('../fonts/gutenblog-font.woff?h2pi8k') format('woff'),
    url('../fonts/gutenblog-font.svg?h2pi8k#gutenblog-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'gutenblog-font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-behance:before {
    content: "\e971";
}
.icon-foursquare:before {
    content: "\e972";
}
.icon-google-drive:before {
    content: "\e973";
}
.icon-google-hangouts:before {
    content: "\e974";
}
.icon-skype:before {
    content: "\e975";
}
.icon-smashing:before {
    content: "\e976";
}
.icon-soundcloud:before {
    content: "\e977";
}
.icon-spotify-with-circle:before {
    content: "\e978";
}
.icon-vine:before {
    content: "\e979";
}
.icon-vk:before {
    content: "\e97a";
}
.icon-dribbble:before {
    content: "\e97b";
}
.icon-facebook1:before {
    content: "\e97c";
}
.icon-flickr:before {
    content: "\e97d";
}
.icon-github:before {
    content: "\e97e";
}
.icon-google:before {
    content: "\e97f";
}
.icon-instagram1:before {
    content: "\e980";
}
.icon-linkedin1:before {
    content: "\e981";
}
.icon-pinterest:before {
    content: "\e982";
}
.icon-stumbleupon:before {
    content: "\e983";
}
.icon-tumblr:before {
    content: "\e984";
}
.icon-twitter1:before {
    content: "\e985";
}
.icon-vimeo:before {
    content: "\e986";
}
.icon-youtube1:before {
    content: "\e987";
}
.icon-align-center:before {
    content: "\e900";
}
.icon-align-justify:before {
    content: "\e901";
}
.icon-align-left:before {
    content: "\e902";
}
.icon-align-right:before {
    content: "\e903";
}
.icon-arrow-down:before {
    content: "\e904";
}
.icon-arrow-down-circle:before {
    content: "\e905";
}
.icon-arrow-left:before {
    content: "\e906";
}
.icon-arrow-left-circle:before {
    content: "\e907";
}
.icon-arrow-right:before {
    content: "\e908";
}
.icon-arrow-right-circle:before {
    content: "\e909";
}
.icon-arrow-up:before {
    content: "\e90a";
}
.icon-arrow-up-circle:before {
    content: "\e90b";
}
.icon-award:before {
    content: "\e90c";
}
.icon-bar-chart:before {
    content: "\e90d";
}
.icon-bar-chart-2:before {
    content: "\e90e";
}
.icon-bell:before {
    content: "\e90f";
}
.icon-book-open:before {
    content: "\e910";
}
.icon-bookmark:before {
    content: "\e911";
}
.icon-briefcase:before {
    content: "\e912";
}
.icon-calendar:before {
    content: "\e913";
}
.icon-camera:before {
    content: "\e914";
}
.icon-check:before {
    content: "\e915";
}
.icon-chevron-down:before {
    content: "\e916";
}
.icon-chevron-left:before {
    content: "\e917";
}
.icon-chevron-right:before {
    content: "\e918";
}
.icon-chevron-up:before {
    content: "\e919";
}
.icon-chevrons-left:before {
    content: "\e91a";
}
.icon-chevrons-right:before {
    content: "\e91b";
}
.icon-clock:before {
    content: "\e91c";
}
.icon-copy:before {
    content: "\e91d";
}
.icon-corner-down-left:before {
    content: "\e91e";
}
.icon-corner-down-right:before {
    content: "\e91f";
}
.icon-corner-up-left:before {
    content: "\e920";
}
.icon-corner-up-right:before {
    content: "\e921";
}
.icon-download:before {
    content: "\e922";
}
.icon-edit:before {
    content: "\e923";
}
.icon-edit-2:before {
    content: "\e924";
}
.icon-external-link:before {
    content: "\e925";
}
.icon-eye:before {
    content: "\e926";
}
.icon-facebook:before {
    content: "\e927";
}
.icon-grid:before {
    content: "\e928";
}
.icon-hash:before {
    content: "\e929";
}
.icon-heart:before {
    content: "\e92a";
}
.icon-help-circle:before {
    content: "\e92b";
}
.icon-home:before {
    content: "\e92c";
}
.icon-image:before {
    content: "\e92d";
}
.icon-instagram:before {
    content: "\e92e";
}
.icon-layers:before {
    content: "\e92f";
}
.icon-life-buoy:before {
    content: "\e930";
}
.icon-link:before {
    content: "\e931";
}
.icon-link-2:before {
    content: "\e932";
}
.icon-linkedin:before {
    content: "\e933";
}
.icon-list:before {
    content: "\e934";
}
.icon-loader:before {
    content: "\e935";
}
.icon-lock:before {
    content: "\e936";
}
.icon-log-in:before {
    content: "\e937";
}
.icon-log-out:before {
    content: "\e938";
}
.icon-mail:before {
    content: "\e939";
}
.icon-maximize:before {
    content: "\e93a";
}
.icon-maximize-2:before {
    content: "\e93b";
}
.icon-menu:before {
    content: "\e93c";
}
.icon-message-circle:before {
    content: "\e93d";
}
.icon-message-square:before {
    content: "\e93e";
}
.icon-minimize-2:before {
    content: "\e93f";
}
.icon-minus:before {
    content: "\e940";
}
.icon-more-horizontal:before {
    content: "\e941";
}
.icon-more-vertical:before {
    content: "\e942";
}
.icon-move:before {
    content: "\e943";
}
.icon-music:before {
    content: "\e944";
}
.icon-paperclip:before {
    content: "\e945";
}
.icon-pause:before {
    content: "\e946";
}
.icon-pause-circle:before {
    content: "\e947";
}
.icon-phone:before {
    content: "\e948";
}
.icon-play:before {
    content: "\e949";
}
.icon-play-circle:before {
    content: "\e94a";
}
.icon-plus:before {
    content: "\e94b";
}
.icon-plus-circle:before {
    content: "\e94c";
}
.icon-plus-square:before {
    content: "\e94d";
}
.icon-pocket:before {
    content: "\e94e";
}
.icon-printer:before {
    content: "\e94f";
}
.icon-refresh-ccw:before {
    content: "\e950";
}
.icon-rss:before {
    content: "\e951";
}
.icon-search:before {
    content: "\e952";
}
.icon-share:before {
    content: "\e953";
}
.icon-share-2:before {
    content: "\e954";
}
.icon-shopping-bag:before {
    content: "\e955";
}
.icon-shopping-cart:before {
    content: "\e956";
}
.icon-sidebar:before {
    content: "\e957";
}
.icon-slack:before {
    content: "\e958";
}
.icon-star:before {
    content: "\e959";
}
.icon-stop-circle:before {
    content: "\e95a";
}
.icon-target:before {
    content: "\e95b";
}
.icon-thumbs-down:before {
    content: "\e95c";
}
.icon-thumbs-up:before {
    content: "\e95d";
}
.icon-toggle-left:before {
    content: "\e95e";
}
.icon-toggle-right:before {
    content: "\e95f";
}
.icon-triangle:before {
    content: "\e960";
}
.icon-twitter:before {
    content: "\e961";
}
.icon-type:before {
    content: "\e962";
}
.icon-unlock:before {
    content: "\e963";
}
.icon-upload:before {
    content: "\e964";
}
.icon-user:before {
    content: "\e965";
}
.icon-volume:before {
    content: "\e966";
}
.icon-volume-1:before {
    content: "\e967";
}
.icon-volume-2:before {
    content: "\e968";
}
.icon-volume-x:before {
    content: "\e969";
}
.icon-x:before {
    content: "\e96a";
}
.icon-x-circle:before {
    content: "\e96b";
}
.icon-x-square:before {
    content: "\e96c";
}
.icon-youtube:before {
    content: "\e96d";
}
.icon-zap:before {
    content: "\e96e";
}
.icon-zoom-in:before {
    content: "\e96f";
}
.icon-zoom-out:before {
    content: "\e970";
}
