.customize-control-kirki-radio-image label {
    padding: 15px;
}
.kirki-input-container,
.customize-control-kirki-toggle label{
    padding: 5px 15px;
}
.gutenblog_frontpage_featured_posts_designfeatured-posts-design-1,
.gutenblog_frontpage_featured_posts_designfeatured-posts-design-2,
.gutenblog_frontpage_featured_posts_designfeatured-posts-design-3,
.gutenblog_frontpage_featured_posts_designfeatured-posts-design-4,
.gutenblog_frontpage_featured_posts_designfeatured-posts-design-5,
.gutenblog_frontpage_featured_posts_designfeatured-posts-design-6,
.gutenblog_frontpage_featured_posts_designfeatured-posts-design-7,
.gutenblog_frontpage_featured_posts_designfeatured-posts-design-8,
.gutenblog_frontpage_featured_posts_designfeatured-posts-design-9,
.gutenblog_frontpage_featured_posts_designfeatured-posts-design-10,
.gutenblog_frontpage_featured_posts_designfeatured-posts-design-11,
.gutenblog_frontpage_featured_posts_designfeatured-posts-design-12,
.gutenblog_frontpage_featured_posts_designfeatured-posts-design-13,
.gutenblog_frontpage_featured_posts_designfeatured-posts-design-14 {
    width: 45%;
    padding: 5px !important;
    margin: 0;
}
